@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 232, 234, 237;
  --background-start-rgb: 32, 33, 36;
  --background-end-rgb: 32, 33, 36;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Custom Scrollbar similar to Google Cloud */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #202124;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5f6368;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9aa0a6;
}